language: python
matrix:
  include:

    - python: 2.7
      env: NUMPY=1.11.1 SCIPY=0.18.1 PANDAS=0.18.1 PYQT=4.11.4

before_install:
  - sudo apt-get install libqt4-dev qt4-qmake
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda update --yes conda

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

install:

  - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
  - source activate test
  - conda install --yes numpy=$NUMPY scipy=$SCIPY matplotlib pytest setuptools sympy pip pandas=$PANDAS pyzmq mpi4py pyqt=$PYQT
  - pip install .

script:
  script: "py.test ."